<div class="home"/>
<div class="computer">
<div class="terminal">
    <% @splitLines.each_with_index do |line, lineNum| %>
        <div class="line <%= line.isListItem ? "list-line" : "" %>">
            <% line.sections.each_with_index do |section, sectionNum| %><div class="section" style='<%= style(lineNum, sectionNum) %>'><%= section %></div><% end %>
        </div>
    <% end %>
    <div class="overlay"></div>
    <div class="shadow"></div>
</div>
</div>
</div>
