<div class="home"/>
    <div class="computer">
        <input type="checkbox" id="power-button" unchecked>
        <div class="monitor-frame">
            <div class="terminal">
                <% @splitLines.each_with_index do |line, lineNum| %>
                    <div class="line <%= line.isListItem ? "list-line" : "" %>">
                        <% line.sections.each_with_index do |section, sectionNum| %><div class="section" style='<%= style(lineNum, sectionNum) %>'><%= section %></div><% end %>
                    </div>
                <% end %>
                <div class="overlay"></div>
                <div class="shadow"></div>
            </div>
        </div>
        <div id="right-column">
            <div id="name-logo">
                <h1>Jacob</h1>
                <h3>Brunsting</h1>
                <ul>
                    <li>Computer Science</li>
                    <li>University of Waterloo</li>
                    <li><a href="https://www.linkedin.com/in/jacob-brunsting-021a25126/">LinkedIn</a></li>
                    <li><a href="https://github.com/JacobBrunsting">Github</a></li>
                </ul>
            </div>
            <label for="power-button" id="power-button-label"></label>
        </div>
    </div>
    <div class="footer">
        <div class="keyboard">
            <div class="left keyboard-section"></div>
            <div class="keyboard-section"></div>
        </div>
    </div>
</div>
