$primary_dark: #509674;
$primary_dark_grayscale: #606060;
$primary_medium: #F6FAF8;
$primary_light: #FFFFFF;
$text_light: #D0D0D0;
$text_dark: #151515;
$text_select: #FFE7AA;
$text_link: #546790;
$text_link_visited: #665794;

a {
    text-decoration: none;
    color: $text_link;
}

a:visited {
    color: $text_link_visited;
}

#content {
    background-color: $primary_medium;
    min-height: 100vh;
    z-index: -1;
    font-family: 'Roboto', sans-serif;

    ::selection {
        background-color: $text_select;
    }
}

#header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: $primary_dark;
    color: $text_light;
    text-align: left;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;

    img.profile {
        border: #FFF;
        border-width: 1px;
        border-style: solid;
        border-radius: 1px;
        width: 32px;
        height: 32px;
    }

    h1 {
        color: #FFF;
        font-size: 2em;
        display: inline-block;
        margin-top: 0;
        margin-bottom: 0;
        margin-right: auto;
        margin-left: 16px;
    }

    img {
        display: inline-block;
        margin: 4px;
        height: 20px;
    }
}

#feed {
    background-color: $primary_medium;
    margin: 0;
    padding: 8px;
    padding-bottom: 64px;
    list-style: none;
}

.post {
    padding: 16px;
    padding-bottom: 0;
    background-color: $primary_light;
    max-width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 2px;
    color: $text_dark;
    box-shadow: 0 0 3px 0 $primary_dark_grayscale;

    input.toggle-post {
        display: none;
    }

    .toggle-post-button {
        height: 22px;
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .toggle-post-button:after {
        content: "...";
        color: $primary_dark_grayscale;
    }

    .toggle-post:checked ~ label > .toggle-post-button:after {
        content: "▲";
    }

    .header {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
    }

    .thumbnail {
        border: #FFF;
        border-width: 1px;
        border-style: solid;
        border-radius: 1px;
        height: 48px;
        margin-right: 8px;
    }

    .subject {
        margin-right: auto;

        h3 {
            text-align: left;
            font-size: 1.5em;
            margin: 0;
        }

        .kind {
            float: left;
            display: inline-block;
            font-weight: bold;
            text-align: left;
            font-size: 1em;
            margin: 0;
        }

        .languages {
            float: left;
            display: inline-block;
            text-align: left;
            font-size: 0.9em;
            margin: 0;
            margin-left: 8px;
        }
    }

    .date {
        font-size: 1em;
        margin: 0;
    }

    .body {
        transition:max-height 0.5s ease;

        .hero {
            width: 100%;
            margin-top: 8px;
            margin-bottom: 8px;
        }

        .content {
            margin: 0;
            margin-top: 8px;
            text-align: left;
            font-size: 1.25em;
        }

        :first-child {
            padding-top: 8px;
            border-top: $primary_dark_grayscale solid 1px;
        }
    }

    input.toggle-post ~ .body {
        max-height: 0;
        overflow: hidden;
    }

    input.toggle-post:checked ~ .body {
        max-height: 800px;
        display: block;
    }
}

.about {
    padding-bottom: 16px;
    margin-bottom: 8px;
    margin-top: 0;
    color: $text_dark;

    h3 {
        margin: 0;
        font-size: 1.5em;
    }
}
