$green: #7f0;
$green-ultradark: #080;
$green-shadow: #0a150a;
$screen-off: #0a180a;
$dark: #111;
$grey: #282828;
$computer-color: #96916b;
$terminal-width: 55vw;

html {
    background-color: $computer-color;
}

body {
    margin: 0;
}

.home {
    padding: 1vw;
    text-align: center;
    background-color: darken($computer-color, 40);
    position: absolute;
    flex-direction: column;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.computer {
    flex-shrink: 0;
    display: flex;
    position: relative;
    padding: 5vw;
    justify-content: center;
    background-color: $computer-color;
    border-radius: 3vw;
}

.monitor-frame {
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
    background-color: $grey;
    display: inline-block;
    border-radius: 1vw;
    position: relative;
    z-index: 1;
    padding: 5%;
    margin-bottom: auto;
    border-color: darken($computer-color, 15);
    border-width: 0.2vw;
    border-style: solid;
    box-shadow: 0 0 2vw 0 darken($computer-color, 15);
}

.terminal {
    width: $terminal-width;
    display: inline-block;
    position: relative;
    padding-top:  1vw;
    padding-bottom: 1vw;
    padding-left: 3vw;
    padding-right: 3vw;
    background-color: darken($green, 46);
    color: darken($green, 20);
    border-radius: 3vw;
    box-shadow: inset 1vw 0px 8vw 0vw transparentize(darken($green, 4), 0.8);
}

.shadow {
    transition: background 0.2s ease;
    content: " ";
    background: $dark;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 2vw;
    z-index: -3;
    box-shadow: 2vw 0 7vw 2vw $green-shadow, -2vw 0 7vw 2vw $green-shadow;
}

.overlay {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(transparentize(#000, 1) 50%, transparentize(darken($green, 35), 0.4) 50%);
    z-index: 2;
    background-size: 100% 0.2vw, 0.2vw 100%;
    pointer-events: none;
    border-radius: 3vw;
}

.section {
    display: inline-block;
}

.line {
    transition: opacity 0.2s ease;
    font-family: monospace;
    font-weight: bold;
    font-size: 2vw;
    float: left;
    clear: left;
}

.list-line:hover > .section {
    text-decoration: underline;
}

.list-line > .section:first-child {
    visibility: hidden;
    text-decoration: none;
}

.list-line:hover {
    cursor: pointer;
}

.list-line:hover > .section:first-child {
    visibility: visible;
}

.terminal:before {
    z-index: -1;
    content: " ";
    position: absolute;
    top: -1.2vw;
    height: 4vw;
    left: 2vw;
    right: 2vw;
    border-radius: 40%;
    background: linear-gradient(darken($green, 42) 50%, darken($green, 37) 50%);
    background-size: 100% 0.2vw, 0.2vw 100%;
    background-position-y: -0.1vw;
    box-shadow: 0 -1.5vw 4vw 2vw $green-shadow;
}

.terminal:after {
    z-index: -1;
    content: "";
    position: absolute;
    bottom: -1.2vw;
    height: 4vw;
    left: 2vw;
    right: 2vw;
    border-radius: 40%;
    background: linear-gradient(darken($green, 42) 50%, darken($green, 38) 50%);
    background-size: 100% 0.2vw, 0.2vw 100%;
    background-position-y: 0.1vw;
    box-shadow: 0 1.5vw 4vw 2vw $green-shadow;
}

#name-logo {
    flex-grow: 1;
    box-shadow: inset 0 0 1vw 0 darken($computer-color, 30);
    text-shadow: darken($computer-color, 30) 0 0 1vw;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    width: 17vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
    background-color: darken($computer-color, 15);
    border-radius: 1vw;
    color: $computer-color;

    h1 {
        margin: 0;
        font-size: 4vw;
    }

    h3 {
        margin: 0;
        font-size: 2.5vw;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li {
        a {
            color: $computer-color;
        }
        font-weight: bold;
        font-size: 1.4vw;
        margin-top: 1vw;
    }
}

#right-column {
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
}

#power-button {
    display: none;
}

#power-button-label {
    transition: box-shadow 0.2s ease;
    height: 4vw;
    width: 4vw;
    border-radius: 50%;
    background-color: $computer-color;
    box-shadow: inset 0 0.1vw 1.5vw 0 $dark;
    margin-top: 2vw;
    margin-bottom: 2vw;
    margin-left: auto;
    margin-right: auto;
}

#power-button:checked {

    ~ #right-column > #power-button-label {
        box-shadow: inset 0 0 0.3vw 0 $dark;
    }

    + .monitor-frame {
        > .terminal {
            box-shadow: none;
            background: $screen-off;

            .line {
                opacity: 0;
                pointer-events: none;
            }

            .overlay {
                opacity: 0;
            }

            .shadow {
                box-shadow: 2vw 0 7vw 2vw $dark, -2vw 0 7vw 2vw $dark;
            }
        }

        > .terminal:before {
            background: $screen-off;
            box-shadow: 0 -1.5vw 4vw 2vw $dark;
        }

        > .terminal:after {
            background: $screen-off;
            box-shadow: 0 1.5vw 4vw 2vw $dark;
        }
    }
}

.footer {
    margin-top: 1vw;
    flex-grow: 1;
    background-color: $computer-color;
    border-radius: 3vw;
}
